<!DOCTYPE html>
<html lang="en">
<head>
<title>Car Info</title>
</head>

<body>
    <h1>Car Info</h1>
    {% for car in data1 %}
    <h2>Car_ID: {{ car.0 }}</h2>
    <h2>Body_Style: {{ car.1 }}</h2>
    <h2>Exterior_Color: {{ car.2 }}</h2>
    <h2>Transmission: {{ car.3 }}</h2>
    <h2>Mileage: {{ car.4 }}</h2>
    <h2>Engine: {{ car.5 }}</h2>
    <h2>Title_Status: {{ car.6 }}</h2>
    <h2>Make: {{ car.7 }}</h2>
    <h2>Model: {{ car.8 }}</h2>
    <h2>Year: {{ car.9 }}</h2>
    <h2>Drivetrain: {{ car.10 }}</h2>
    <h2>Location: {{ car.11 }}</h2>
    <h2>Current_Status: {{ car.12 }}</h2>
    <h2>Seller_ID: {{ car.13 }}</h2>
    {% endfor %}

    <h2>This is the bidding from buyers:</h2>

    <table>
        <thead>
            <tr>
                <th>Bidding_ID</th>
                <th>Auction_ID</th>
                <th>Bidder_ID</th>
                <th>Bidding_Price</th>
            </tr>
        </thead>
        <tbody>
            {% for auction in data2 %}
            <tr>
                <td>{{ auction.0 }}</td>
                <td>{{ auction.1 }}</td>
                <td>{{ auction.2 }}</td>
                <td>{{ auction.3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    

    <form action="/endBidding">


        Do you want to end this bidding?
        Once you end this bidding, this car will be sold to the bidder with the highest bidder so far!

        <button class="btn">Yes</button>

    </form>

   
</body>
</html>